//VARIABLES
$main-purple-color:rgb(81, 4, 178);
$dark-purple-color:rgb(2, 1, 14);
$default-color:rgb(255, 255, 255);
$button-color:rgb(81, 4, 178);
$card-background-color:rgb(3, 2, 22);
$form-input-background-color:rgba(26, 0, 59, 1);
$sm-card-shadow:0px 2px 14px rgba(81,4,178,0.34);
$medium-card-height:349px;
$small-card-height:85px;

//MARGINS - GAPS - PADDINGS
$gap-between-elements:15px;
$default-padding:3rem;
$card-padding:1rem;
$m-2:2rem;
$m-5:5rem;
$m-0-4:0.4rem;
$border-radius:1rem;
$card-button-font-size:18px;

//MIXINS

/*CARD*/
@mixin card {
    width: 362px;
    height: 447px;
    border-radius: $border-radius;
    border:2px solid $main-purple-color;
    background-color: $card-background-color;
    padding:$card-padding;
}

@mixin card-title{
    @include personalizedText(1.50rem,100 );
    transform: rotate(-2deg);
}

@mixin card-button {
    cursor: pointer;
    border:none;
    background-color: $main-purple-color;
    border-radius: .10rem .10rem .80rem .80rem;
    width: 21rem;
    height: 3rem;
    margin: -0.3rem auto auto -.3rem;
    justify-content: center;

    .button-text{
        color:$default-color;
        font-size: $card-button-font-size;
    }
}

@mixin large-button {
    cursor: pointer;
    border:none;
    background-color: $main-purple-color;
    border-radius: .10rem .10rem .80rem .80rem;
    width: 98%;
    height: 3rem;
    margin: 3rem auto;
    justify-content: center;

    .button-text{
        color:$default-color;
        font-size: $card-button-font-size;
    }
}

@mixin sections($display-type,$direction,$justify-type) {
    display:$display-type;
    flex-direction: $direction;
    padding: $default-padding;
    justify-content: $justify-type;
}

@mixin conteiners($display-type,$direction) {
    display:$display-type;
    flex-direction:$direction;
    gap:$gap-between-elements;
}

@mixin personalizedText($font-size,$weight) {
    font-family: 'Comodo';
    color:$default-color;
    font-size: $font-size;
    font-weight: $weight;
}

@mixin  title {
    @include personalizedText(2rem,200);
    margin:$m-5 auto;
}

//ANIMATIONS
@mixin card-hover {
    border:2px solid rgb(113, 13, 235);
    cursor: pointer;
}

@mixin card-button-hover {
    background-color: rgb(113, 13, 235);
}

//DEFAULT
*{
    box-sizing: border-box; padding: 0; margin: 0; font-family: Poppins,'Poppins',sans-serif;
    bottom: 0; top: 0; left: 0; right: 0; outline: none;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
//LOCAL FONTS
@font-face {
    font-family: 'Comodo';
    src: url(fonts/Comodo.otf);
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins.ttf);
}
//BODY
body{
    background-color: $dark-purple-color;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth
}

//DISPLAY LOGO
.logo-display{
    @include sections(flex,column,center);
    justify-content: center;
    align-items:center;
    gap:$gap-between-elements;

    .logo-display-conteiner{
        @include conteiners(flex,row);

        .logo{
            width: 50px;
            height: 50px;
        }

        .logo-name{
            @include personalizedText(2rem,200);
            margin-top: $m-0-4;
        }
    }

    .line{
        border:1px solid $main-purple-color;
        border-radius: $border-radius;
        width: 90%;
        margin:0 auto;
    }
}

//NAVBAR
.navbar{
    @include sections(flex,row,center);
    margin-top: -5rem;

    .navbar-conteiner{
        @include conteiners(flex, row);;
        margin:0 auto;

        .list-items{
            @include conteiners(flex,row);

            .item{
                @include conteiners(flex,row);
                cursor: pointer;

                img{
                    width: 35px;
                    height: 35px;
                }

                .icon-label{
                    @include personalizedText(17px,100);
                    margin-top:$m-0-4;
                }
            }
        }
    }
}

//HEADER

.header-section{
    @include sections(flex,row,normal);

    .header-section-conteiner{
        @include conteiners(flex,row);
        gap:14rem;
        margin:0 auto;


        .header-text{
            @include conteiners(flex,column);

            .biggest-text{
                @include personalizedText(3rem,200);
            }

            .medium-text{
                color:$default-color;
                font-weight: 100;
            }
        }
    }
}

//PACKAGES

.packages-section{
    @include sections(flex,column,center);

    .packages-section-title{
        display:flex;
        justify-content: center;

        .title{
        @include title();
        }
    }

    .packages-section-conteiner{
        @include conteiners(flex,row);
        justify-content: center;

        //CARD
        .card{
            @include card();
            transition: all 500ms ease;

            //CARD TITLE
            .card-title{
                display:flex;
                justify-content: center;

                h2{
                    @include card-title();
                }
            }

            //CARD INFO
            .card-info-conteiner{
                @include conteiners(flex,column);

                .list-items{
                    @include conteiners(flex,column);
                    margin:25px auto;

                    .item{
                        @include conteiners(flex,row);

                        .list-icon{
                            width: 34px;
                            height: 34px;
                        }

                        .icon-label{
                            color:$default-color;
                            margin-top:.2rem;
                        }
                    }
                }
            }

            //CARD BUTTON
            .card-button{
                @include card-button();
                transition:all 500ms ease;
            }

            //CARD BUTTON HOVER
            .card-button:hover{
                @include card-button-hover();
            }
        }

        //CARD HOVER
        .card:hover{
            @include card-hover();
        }

    }
}

//PARTNERSHIPS

.partnership-section{
    @include sections(flex,column ,normal);

    //TITLE
    .partnership-section-title{
        display:flex;
        justify-content: center;
        flex-direction: column;

        .title{
            @include title();
            margin-bottom: -$m-0-4;
        }

        .title-description{
            color:$default-color;
            font-weight: 100;
            text-align: center;
        }
    }

    //CONTEINER
    .partnership-conteiner{
        @include conteiners(flex,column);
        margin:0 auto;

        .companies-display{
            @include conteiners(flex,row);
            margin-top: 10rem;

            .companie{
                @include conteiners(flex,row);
                transition:all 500ms ease;

                .companie-logo{
                    width: 75px;
                    height: 75px;
                }

                .companie-name{
                    color:$default-color;
                    font-weight: 200;
                    align-self:center;
                    transition:all 500ms ease;
                }

                
            }

            .companie:hover{
                transform:scale(1.1);
                transform-origin: center;
                cursor: pointer;
            }

        }
        .companies-display-large-text{
            @include conteiners(flex,column);
            justify-content: center;

        }

        
    }

    //LARGE TEXT
    .large-text{
        @include personalizedText(2em,200);
        font-family: 'Poppins';
        text-align: center;
        align-self:center;
        margin:3rem auto;
    }

    //LARGE BUTTON
        .large-button{
            @include large-button();
        }

}

//PLANS

.plans-section{
    @include sections(flex,column,normal);

    //TITLE
    .plans-section-title{
        display:flex;
        justify-content: center;
        flex-direction: column;

        .title{
            @include title();
            margin-bottom: $m-0-4;
        }

        .title-description{
            color:$default-color;
            font-weight: 100;
            text-align: center;
        }
    }

    .plans-section-conteiner{
        @include conteiners(flex,row);
        justify-content: center;

        //CARD
        .card{
            @include card();
            height:$medium-card-height;
            margin-top:$m-2 + 1;
            transition: all 500ms ease;

            //CARD TITLE
            .card-title{
                display:flex;
                justify-content: center;

                h2{
                    @include card-title();
                }
            }

            //CARD INFO
            .card-info-conteiner{
                @include conteiners(flex,column);

                .list-items{
                    @include conteiners(flex,column);
                    margin:25px auto;

                    .item{
                        @include conteiners(flex,row);

                        .list-icon{
                            width: 34px;
                            height: 34px;
                        }

                        .icon-label{
                            color:$default-color;
                            margin-top:.2rem;
                        }
                    }
                }
            }

            //CARD BUTTON
            .card-button{
                @include card-button();
                transition:all 500ms ease;
            }

            //CARD BUTTON HOVER
            .card-button:hover{
                @include card-button-hover();
            }
        }

        //CARD HOVER
        .card:hover{
            @include card-hover();
        }

    }
}

//FEATURES

.features-section{
    @include sections(flex,column,normal);
    padding:$default-padding;

    //TITLE
    .features-section-title{
        display:flex;
        justify-content: center;
        flex-direction: column;

        .title{
            @include title();
            margin-bottom: $m-0-4;
        }

        .title-description{
            color:$default-color;
            font-weight: 100;
            text-align: center;
        }
    }

    .features-section-conteiner{
        @include conteiners(flex,row);
        justify-content: space-between;
        margin-top: $m-2 +2rem;

        //FEATURES
        .features{
            @include conteiners(flex,column);
            margin-top: 3rem;

            //CARD
        .small-card{
            @include card();
            height:$small-card-height;
            transition: all 500ms ease;

            //CARD INFO
            .card-info-conteiner{
                @include conteiners(flex,row);

                .sm-card-image{
                    width: 45px;
                    height: 45px;
                }

                .icon-label{
                    color:$default-color;
                    //margin-top:.2rem;
                    align-self: center;
                    font-size: 18px;
                    font-weight: 200;
                }
            }

        }

        //CARD HOVER
        .card:hover{
            @include card-hover();
        }


        //FIRST CARD
        #sm-card-1{
            margin-bottom:$m-0-4 + 1;
        }

        //SECOND CARD
        #sm-card-2{
            transform: translateX($m-5);
            margin-bottom:$m-0-4 + 1;
        }
         //THIRD CARD
         #sm-card-3{
            transform: translateX(10rem);
        }
    }

        //EXPERIMENT FEATURES
        .experiment-features{
            margin-right: 1.50rem;

            .experiment-conteiner{
                @include conteiners(flex,column);

                //TITLE
                .title{
                    justify-content: right;
                    h1{
                        @include personalizedText(2rem,200);
                        text-align: right;
                    }
                }

                //DESCRIPTION
                .title-description{
                    justify-content: right;

                    p{
                    color:$default-color;
                    text-align: right;
                }
                }

                //ICONS
                .description-icons{
                    @include conteiners(flex,row);
                    justify-content: right;
                    gap:2px;

                    .list-icon{
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                    }
                }

                //BUTTON
                .experiment-button{
                    justify-content: right;
                    transform:translateX(50px);

                    button{
                        cursor: pointer;
                        @include card();
                        width:180px;
                        height:55px;

                        p{
                            color:$default-color;
                        }


                    }

            }

        }
    }
  }
}

//SUBSCRIBE

.subscribe-section{
    @include sections(flex,column,normal);

    //TITLE
    .subscribe-section-title{
        display:flex;
        justify-content: center;
        flex-direction: column;

        .title{
            @include title();
            margin-bottom: $m-0-4;
        }

        .title-description{
            color:$default-color;
            font-weight: 100;
            text-align: center;
        }
    }

    .subscribe-section-conteiner{
        @include conteiners(flex,row);
        justify-content: center;

        //CARD
        .card{
            @include card();
            width: 475px;
            height: 437px;
            margin-top:$m-2 + 1;
            @include conteiners(flex,column);
            transition: all 500ms ease;

            //CARD TITLE
            .card-title{
                display:flex;
                justify-content: center;

                h2{
                    @include card-title();
                }
            }

            //CARD INFO
            .card-info-conteiner{
                @include conteiners(flex,column);
                margin-top: 1.4rem;

                input{
                    border:none;
                    padding:1.50rem 5rem;
                    border-radius: .40rem;
                    color:$main-purple-color;
                    background-color:$form-input-background-color;
                    margin-bottom: 1rem;
                }

                input::placeholder{
                    color:$main-purple-color;
                }

            }

            //CARD BUTTON
            .card-button{
                @include card-button();
                color:$default-color;
                font-size: $card-button-font-size;
                width: 28rem;
                margin: -0.3rem auto auto -.3rem;
                bottom: 0;
                transition:all 500ms ease;
            }

            //CARD BUTTON HOVER
            .card-button:hover{
                @include card-button-hover();
            }
        }

        //CARD HOVER
        .card:hover{
            @include card-hover();
        }

        //USERS PHOTOS
        .users-photos-left,.users-photos-right{
            .card{
                width: 87px;
                height: 87px;
                box-shadow:$sm-card-shadow;

                .user-photo{
                    width: 55px;
                    height: 55px;
                    align-self:center;
                    margin:0;
                }
            }
        }

        .users-photos-left{

            #tin-card-1{
                transform:translateX(-230px);
            }

            #tin-card-2{
                transform:translate(-210px,50px);
            }

            #tin-card-3{
                transform:translate(-20px,-100px);
            }

            #tin-card-4{
                transform:translateX(-230px);
            }
        }

        .users-photos-right{

            #tin-card-1{
                transform:translateX(30px);
            }

            #tin-card-2{
                transform:translate(210px,30px);
            }

            #tin-card-3{
                transform:translate(20px,-100px);
            }

            #tin-card-4{
                transform:translateX(45px);
            }
        }

    }
}