/*CARD*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins,'Poppins',sans-serif;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  outline: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Comodo';
  src: url(fonts/Comodo.otf);
}

@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins.ttf);
}

body {
  background-color: #02010e;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.logo-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.logo-display .logo-display-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.logo-display .logo-display-conteiner .logo {
  width: 50px;
  height: 50px;
}

.logo-display .logo-display-conteiner .logo-name {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 0.4rem;
}

.logo-display .line {
  border: 1px solid #5104b2;
  border-radius: 1rem;
  width: 90%;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -5rem;
}

.navbar .navbar-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin: 0 auto;
}

.navbar .navbar-conteiner .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.navbar .navbar-conteiner .list-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  cursor: pointer;
}

.navbar .navbar-conteiner .list-items .item img {
  width: 35px;
  height: 35px;
}

.navbar .navbar-conteiner .list-items .item .icon-label {
  font-family: 'Comodo';
  color: white;
  font-size: 17px;
  font-weight: 100;
  margin-top: 0.4rem;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.header-section .header-section-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  gap: 14rem;
  margin: 0 auto;
}

.header-section .header-section-conteiner .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.header-section .header-section-conteiner .header-text .biggest-text {
  font-family: 'Comodo';
  color: white;
  font-size: 3rem;
  font-weight: 200;
}

.header-section .header-section-conteiner .header-text .medium-text {
  color: white;
  font-weight: 100;
}

.packages-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.packages-section .packages-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.packages-section .packages-section-title .title {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin: 5rem auto;
}

.packages-section .packages-section-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.packages-section .packages-section-conteiner .card {
  width: 362px;
  height: 447px;
  border-radius: 1rem;
  border: 2px solid #5104b2;
  background-color: #030216;
  padding: 1rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.packages-section .packages-section-conteiner .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.packages-section .packages-section-conteiner .card .card-title h2 {
  font-family: 'Comodo';
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.packages-section .packages-section-conteiner .card .card-info-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.packages-section .packages-section-conteiner .card .card-info-conteiner .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: 25px auto;
}

.packages-section .packages-section-conteiner .card .card-info-conteiner .list-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.packages-section .packages-section-conteiner .card .card-info-conteiner .list-items .item .list-icon {
  width: 34px;
  height: 34px;
}

.packages-section .packages-section-conteiner .card .card-info-conteiner .list-items .item .icon-label {
  color: white;
  margin-top: .2rem;
}

.packages-section .packages-section-conteiner .card .card-button {
  cursor: pointer;
  border: none;
  background-color: #5104b2;
  border-radius: .10rem .10rem .80rem .80rem;
  width: 21rem;
  height: 3rem;
  margin: -0.3rem auto auto -.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.packages-section .packages-section-conteiner .card .card-button .button-text {
  color: white;
  font-size: 18px;
}

.packages-section .packages-section-conteiner .card .card-button:hover {
  background-color: #710deb;
}

.packages-section .packages-section-conteiner .card:hover {
  border: 2px solid #710deb;
  cursor: pointer;
}

.partnership-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.partnership-section .partnership-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partnership-section .partnership-section-title .title {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin: 5rem auto;
  margin-bottom: -0.4rem;
}

.partnership-section .partnership-section-title .title-description {
  color: white;
  font-weight: 100;
  text-align: center;
}

.partnership-section .partnership-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

.partnership-section .partnership-conteiner .companies-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin-top: 10rem;
}

.partnership-section .partnership-conteiner .companies-display .companie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.partnership-section .partnership-conteiner .companies-display .companie .companie-logo {
  width: 75px;
  height: 75px;
}

.partnership-section .partnership-conteiner .companies-display .companie .companie-name {
  color: white;
  font-weight: 200;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.partnership-section .partnership-conteiner .companies-display .companie:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
  cursor: pointer;
}

.partnership-section .partnership-conteiner .companies-display-large-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partnership-section .large-text {
  font-family: 'Comodo';
  color: white;
  font-size: 2em;
  font-weight: 200;
  font-family: 'Poppins';
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 3rem auto;
}

.partnership-section .large-button {
  cursor: pointer;
  border: none;
  background-color: #5104b2;
  border-radius: .10rem .10rem .80rem .80rem;
  width: 98%;
  height: 3rem;
  margin: 3rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partnership-section .large-button .button-text {
  color: white;
  font-size: 18px;
}

.plans-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.plans-section .plans-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plans-section .plans-section-title .title {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin: 5rem auto;
  margin-bottom: 0.4rem;
}

.plans-section .plans-section-title .title-description {
  color: white;
  font-weight: 100;
  text-align: center;
}

.plans-section .plans-section-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plans-section .plans-section-conteiner .card {
  width: 362px;
  height: 447px;
  border-radius: 1rem;
  border: 2px solid #5104b2;
  background-color: #030216;
  padding: 1rem;
  height: 349px;
  margin-top: 3rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.plans-section .plans-section-conteiner .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plans-section .plans-section-conteiner .card .card-title h2 {
  font-family: 'Comodo';
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.plans-section .plans-section-conteiner .card .card-info-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.plans-section .plans-section-conteiner .card .card-info-conteiner .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: 25px auto;
}

.plans-section .plans-section-conteiner .card .card-info-conteiner .list-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.plans-section .plans-section-conteiner .card .card-info-conteiner .list-items .item .list-icon {
  width: 34px;
  height: 34px;
}

.plans-section .plans-section-conteiner .card .card-info-conteiner .list-items .item .icon-label {
  color: white;
  margin-top: .2rem;
}

.plans-section .plans-section-conteiner .card .card-button {
  cursor: pointer;
  border: none;
  background-color: #5104b2;
  border-radius: .10rem .10rem .80rem .80rem;
  width: 21rem;
  height: 3rem;
  margin: -0.3rem auto auto -.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.plans-section .plans-section-conteiner .card .card-button .button-text {
  color: white;
  font-size: 18px;
}

.plans-section .plans-section-conteiner .card .card-button:hover {
  background-color: #710deb;
}

.plans-section .plans-section-conteiner .card:hover {
  border: 2px solid #710deb;
  cursor: pointer;
}

.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  padding: 3rem;
}

.features-section .features-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-section .features-section-title .title {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin: 5rem auto;
  margin-bottom: 0.4rem;
}

.features-section .features-section-title .title-description {
  color: white;
  font-weight: 100;
  text-align: center;
}

.features-section .features-section-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.features-section .features-section-conteiner .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 3rem;
}

.features-section .features-section-conteiner .features .small-card {
  width: 362px;
  height: 447px;
  border-radius: 1rem;
  border: 2px solid #5104b2;
  background-color: #030216;
  padding: 1rem;
  height: 85px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.features-section .features-section-conteiner .features .small-card .card-info-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.features-section .features-section-conteiner .features .small-card .card-info-conteiner .sm-card-image {
  width: 45px;
  height: 45px;
}

.features-section .features-section-conteiner .features .small-card .card-info-conteiner .icon-label {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: 200;
}

.features-section .features-section-conteiner .features .card:hover {
  border: 2px solid #710deb;
  cursor: pointer;
}

.features-section .features-section-conteiner .features #sm-card-1 {
  margin-bottom: 1.4rem;
}

.features-section .features-section-conteiner .features #sm-card-2 {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  margin-bottom: 1.4rem;
}

.features-section .features-section-conteiner .features #sm-card-3 {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.features-section .features-section-conteiner .experiment-features {
  margin-right: 1.50rem;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .title {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .title h1 {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  text-align: right;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .title-description {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .title-description p {
  color: white;
  text-align: right;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .description-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 2px;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .description-icons .list-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .experiment-button {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .experiment-button button {
  cursor: pointer;
  width: 362px;
  height: 447px;
  border-radius: 1rem;
  border: 2px solid #5104b2;
  background-color: #030216;
  padding: 1rem;
  width: 180px;
  height: 55px;
}

.features-section .features-section-conteiner .experiment-features .experiment-conteiner .experiment-button button p {
  color: white;
}

.subscribe-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.subscribe-section .subscribe-section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-section .subscribe-section-title .title {
  font-family: 'Comodo';
  color: white;
  font-size: 2rem;
  font-weight: 200;
  margin: 5rem auto;
  margin-bottom: 0.4rem;
}

.subscribe-section .subscribe-section-title .title-description {
  color: white;
  font-weight: 100;
  text-align: center;
}

.subscribe-section .subscribe-section-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-section .subscribe-section-conteiner .card {
  width: 362px;
  height: 447px;
  border-radius: 1rem;
  border: 2px solid #5104b2;
  background-color: #030216;
  padding: 1rem;
  width: 475px;
  height: 437px;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.subscribe-section .subscribe-section-conteiner .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-section .subscribe-section-conteiner .card .card-title h2 {
  font-family: 'Comodo';
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.subscribe-section .subscribe-section-conteiner .card .card-info-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 1.4rem;
}

.subscribe-section .subscribe-section-conteiner .card .card-info-conteiner input {
  border: none;
  padding: 1.50rem 5rem;
  border-radius: .40rem;
  color: #5104b2;
  background-color: #1a003b;
  margin-bottom: 1rem;
}

.subscribe-section .subscribe-section-conteiner .card .card-info-conteiner input::-webkit-input-placeholder {
  color: #5104b2;
}

.subscribe-section .subscribe-section-conteiner .card .card-info-conteiner input:-ms-input-placeholder {
  color: #5104b2;
}

.subscribe-section .subscribe-section-conteiner .card .card-info-conteiner input::-ms-input-placeholder {
  color: #5104b2;
}

.subscribe-section .subscribe-section-conteiner .card .card-info-conteiner input::placeholder {
  color: #5104b2;
}

.subscribe-section .subscribe-section-conteiner .card .card-button {
  cursor: pointer;
  border: none;
  background-color: #5104b2;
  border-radius: .10rem .10rem .80rem .80rem;
  width: 21rem;
  height: 3rem;
  margin: -0.3rem auto auto -.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 18px;
  width: 28rem;
  margin: -0.3rem auto auto -.3rem;
  bottom: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.subscribe-section .subscribe-section-conteiner .card .card-button .button-text {
  color: white;
  font-size: 18px;
}

.subscribe-section .subscribe-section-conteiner .card .card-button:hover {
  background-color: #710deb;
}

.subscribe-section .subscribe-section-conteiner .card:hover {
  border: 2px solid #710deb;
  cursor: pointer;
}

.subscribe-section .subscribe-section-conteiner .users-photos-left .card, .subscribe-section .subscribe-section-conteiner .users-photos-right .card {
  width: 87px;
  height: 87px;
  -webkit-box-shadow: 0px 2px 14px rgba(81, 4, 178, 0.34);
          box-shadow: 0px 2px 14px rgba(81, 4, 178, 0.34);
}

.subscribe-section .subscribe-section-conteiner .users-photos-left .card .user-photo, .subscribe-section .subscribe-section-conteiner .users-photos-right .card .user-photo {
  width: 55px;
  height: 55px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.subscribe-section .subscribe-section-conteiner .users-photos-left #tin-card-1 {
  -webkit-transform: translateX(-230px);
          transform: translateX(-230px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-left #tin-card-2 {
  -webkit-transform: translate(-210px, 50px);
          transform: translate(-210px, 50px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-left #tin-card-3 {
  -webkit-transform: translate(-20px, -100px);
          transform: translate(-20px, -100px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-left #tin-card-4 {
  -webkit-transform: translateX(-230px);
          transform: translateX(-230px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-right #tin-card-1 {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-right #tin-card-2 {
  -webkit-transform: translate(210px, 30px);
          transform: translate(210px, 30px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-right #tin-card-3 {
  -webkit-transform: translate(20px, -100px);
          transform: translate(20px, -100px);
}

.subscribe-section .subscribe-section-conteiner .users-photos-right #tin-card-4 {
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
}
/*# sourceMappingURL=style.css.map */